/*
    todos style
*/

.todos {
    margin-top: 100px;
}

.todos h1 {
    text-align: center;
    font-size: 6rem;
    color: rgba(175, 47, 47, 0.15);
    font-weight: 100;
}

.todos-enter {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    border: .2rem solid rgba(175, 47, 47, 0.15);
    position: relative;
    font-size: 3rem;
    font-weight: 100;
    line-height: 80px;
}

.todos-enter input {
    border: 0;
    width: 90%;
    height: 100%;
    margin-left: 10%;
    font-size: 3rem;
    font-weight: 100;
    outline: none;
}

.todos-item {
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    border-left: .2rem solid rgba(175, 47, 47, 0.15);
    border-right: .2rem solid rgba(175, 47, 47, 0.15);
}

.todos-item li {
    width: 100%;
    border-bottom: .2rem solid rgba(175, 47, 47, 0.15);
    height: 60px;
    position: relative;
}

.todos i {
    line-height: 60px;
}

#todos-item-text {
    display: inline-block;
    height: 60px;
    vertical-align: top;
    margin-left: 2rem;
} 


.todos-item span {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: .2rem solid #666;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.todos-del {
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.todos-select {
    position: absolute;
    transform: rotate(-90deg);
    margin-left: .5rem;
    cursor: pointer;
}

.no-through {
    text-decoration: none;
}

.through {
    text-decoration: line-through;
}

.todos-footer {
    width: 80%;
    margin: 0 auto;
    border: .2rem solid rgba(175, 47, 47, 0.15);
    border-top: none;
    height: 40px;
    line-height: 40px;
}

.todos-footer p {
    float: left;
    margin-left: 2rem;
}

.todos-clear {
    cursor: pointer;
}

.todos-footer-list {
    width: 30%;
    float: left;
    margin-left: 3rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.todos-footer-list li {
    cursor: pointer;
}

/*
    progressBar style
*/

.bar {
    width: 50%;
    text-align: center;
}

.progressBar {
    width: 100%;
    position: relative;
}

.progressBar progress {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    background-color:#e6e6e6;
} 

.progressBar progress::-webkit-progress-bar { background: #e6e6e6; }

.progressBar .danger { color: rgb(215, 84, 82);}
.progressBar .danger::-moz-progress-bar { background: rgb(215, 84, 82); }
.progressBar .danger::-webkit-progress-value  { background: rgb(215, 84, 82); }

.progressBar .info { color: rgb(95, 183, 96);}
.progressBar .info::-moz-progress-bar { background: rgb(95, 183, 96); }
.progressBar .info::-webkit-progress-value  { background: rgb(95, 183, 96); }

.progressBar .warning { color: rgb(239, 172, 86);}
.progressBar .warning::-moz-progress-bar { background: rgb(239, 172, 86); }
.progressBar .warning::-webkit-progress-value  { background: rgb(239, 172, 86); }

.progressBar span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #fff;
    font-weight: 100;
} 

.bar button {
    width: 30%;
    height: 2.6rem;
    color: #fff;
    border: 0;
    border: 1px solid #ccc;
    margin-top: 3rem;
    background: rgb(15, 136, 235);
    outline: none;
    cursor: pointer;
}